<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Agregar Ejercicio</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Inicio</a>
                                </li>
                                <li class="breadcrumb-item"><a href="ejercicios.html">ejercicios</a>
                                </li>
                                <li class="breadcrumb-item active">Agregar
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Blog Edit -->
            <div class="blog-edit-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Form -->
                                <form action="javascript:;" class="mt-2">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-2">
                                                <label class="form-label" for="blog-edit-title">Nombre</label>
                                                <input type="text" id="blog-edit-title" class="form-control" value="Jumping jacks" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-2">
                                                <label class="form-label" for="blog-edit-category">Categorias</label>
                                                <select id="blog-edit-category" class="select2 form-select" multiple>
                                                    <option value="Fashion" selected>Biceps</option>
                                                    <option value="Food">Abdominales</option>
                                                    <option value="Gaming" selected>Cardio</option>
                                                    <option value="Quote">Espalda</option>
                                                    <option value="Video">Gluteos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-2">
                                                <label class="form-label" for="blog-edit-slug">Link</label>
                                                <input type="text" id="blog-edit-slug" class="form-control" value="https://www.youtube.com/embed/iSSAk4XCsRA" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-2">
                                                <label class="form-label">Descripcion</label>
                                                <div id="blog-editor-wrapper">
                                                    <div id="blog-editor-container">
                                                        <div class="editor">
                                                            <p>
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/iSSAk4XCsRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                                            </p>
                                                            <p><br /></p>
                                                            <p>
                                                                Categoría: Cardio<br>
                                                                Link: https://www.youtube.com/watch?v=iSSAk4XCsRA<br>

                                                                Descripción: Se trata de dar un salto en el sitio al mismo tiempo que abres las piernas un poco más del ancho de los hombros y elevas los brazos hacia los laterales y hacia arriba hasta dar una palmada.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-50">
                                            <button type="submit" class="btn btn-primary me-1">Agregar</button>
                                            <button type="reset" class="btn btn-outline-secondary">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                                <!--/ Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Blog Edit -->

        </div>
    </div>
</div>