
    <!-- BEGIN: Content -->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="invoice-list-wrapper">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Aprobaciones</h4>
                            <div class="dt-buttons d-inline-flex"> 
                                <button class="dt-button create-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="modal" data-bs-target="#add-new-sidebar"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus me-50 font-small-4"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>Aprobación</span></button>
                            </div>
                        </div>
                        <div class="card-datatable table-responsive">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <table class="invoice-list-table table dataTable no-footer dtr-column" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    
                                    <!-- Cabezera de la tabla -->
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 270px;" aria-label="Client: activate to sort column ascending">
                                                Cliente</th>
                                            <th class="text-truncate sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 130px;" aria-label="Issued Date: activate to sort column ascending">
                                                Fecha</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 98px;" aria-label="Balance: activate to sort column ascending">
                                                Estado</th>
                                            <th class="cell-fit sorting_disabled" rowspan="1" colspan="1" style="width: 80px;" aria-label="Actions">
                                                Opciones</th>
                                        </tr>
                                    </thead>
                                    <!-- Cabezera de la tabla -->

                                    <!-- Cuerpo de la tabla-->
                                    <tbody>
                                        <tr class="odd">
                                            <td>
                                                <div class="d-flex justify-content-left align-items-center">
                                                    <div class="avatar-wrapper">
                                                        <div class="avatar bg-light-success me-50"><div class="avatar-content">JK</div></div>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <h6 class="user-name text-truncate mb-0">Jamal Kerrod</h6>
                                                        <small class="text-truncate text-muted">jamalkerrod@email.com</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style=""><span class="d-none">20190509</span>09 May 2019</td>
                                            <td style=""><span class="badge badge-light-success" text-capitalized=""> Aprobado </span></td>
                                            <td style="">
                                                <div class="d-flex align-items-center col-actions">
                                                    <a class="me-25" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Ver" aria-label="Ver">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye font-medium-2 text-body">
                                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                            <circle cx="12" cy="12" r="3"></circle>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="d-flex justify-content-left align-items-center">
                                                    <div class="avatar-wrapper">
                                                        <div class="avatar me-50"><img src="../../../app-assets/images/avatars/1-small.png" alt="Avatar" width="32" height="32" /></div>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <h6 class="user-name text-truncate mb-0">Shamus Tuttle</h6>
                                                        <small class="text-truncate text-muted">shamustuttle@email.com</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style=""><span class="d-none">20191119</span>19 Nov 2019</td>
                                            <td style=""><span class="badge badge-light-success" text-capitalized=""> Aprobado </span></td>
                                            <td style="">
                                                <div class="d-flex align-items-center col-actions">
                                                    <a class="me-25" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Ver" aria-label="Ver">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye font-medium-2 text-body">
                                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                            <circle cx="12" cy="12" r="3"></circle>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td>
                                                <div class="d-flex justify-content-left align-items-center">
                                                    <div class="avatar-wrapper">
                                                        <div class="avatar me-50"><img src="../../../app-assets/images/avatars/1-small.png" alt="Avatar" width="32" height="32" /></div>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <h6 class="user-name text-truncate mb-0">Devonne Wallbridge</h6>
                                                        <small class="text-truncate text-muted">devonnewallbridge@email.com</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style=""><span class="d-none">20190925</span>25 Sep 2019</td>
                                            <td style=""><span class="badge badge-light-success" text-capitalized=""> Aprobado </span></td>
                                            <td style="">
                                                <div class="d-flex align-items-center col-actions">
                                                    <a class="me-25" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Ver" aria-label="Ver">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye font-medium-2 text-body">
                                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                            <circle cx="12" cy="12" r="3"></circle>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- Cuerpo de la tabla-->
                                </table>
                                <!-- Paginacion de la tabla -->
                                <div class="d-flex justify-content-between mx-2 row">
                                    <div class="col-sm-12 col-md-6"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando de 1 a 10 entradas</div></div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a>
                                                </li>
                                                <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0" class="page-link">&nbsp;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Paginacion de la tabla -->
                            </div>
                        </div>
                    </div>
                
                                    <!-- Nueva Aprobación modal-->
                                    <div class="modal modal-slide-in event-sidebar fade" id="add-new-sidebar">
                                        <div class="modal-dialog sidebar-lg">
                                            <div class="modal-content p-0">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                                                <div class="modal-header mb-1">
                                                    <h5 class="modal-title">Nueva Aprobación</h5>
                                                </div>
                                                <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                                    <form class="event-form needs-validation" data-ajax="false" novalidate="novalidate">
                                                        <div class="mb-1">
                                                            <label for="title" class="form-label">Factura</label>
                                                            <input type="busqueda" class="form-control" placeholder="Buscar" aria-controls="DataTables_Table_0">
                                                        </div>
                                                        <div class="mb-1">
                                                            <label for="formFile" class="form-label">Agregar Archivos</label>
                                                            <input class="form-control" type="file" id="formFile">
                                                          </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Nueva Aprobación modal-->
                </section>
            </div>
        </div>
    </div>  
    <!-- END: Content-->
