<!-- BEGIN: Content -->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row"></div>
        <div class="content-body">
            <section class="invoice-list-wrapper">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">Facturas</h4>
                        <div class="dt-buttons d-inline-flex">
                            <a class="dt-button create-new btn btn-primary" href="#" data-bs-toggle="modal"
                                data-bs-target="#add-factura"><span><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-plus me-50 font-small-4">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>Nueva Factura</span></a>
                        </div>
                    </div>
                    <div class="card-datatable table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <div class="row d-flex justify-content-between align-items-center m-1">
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <input type="busqueda" class="form-control" placeholder="Buscar"
                                            aria-controls="DataTables_Table_0" />
                                    </div>
                                    <div class="invoice_status ms-sm-2">
                                        <select id="UserRole" class="form-select ms-50 text-capitalize">
                                            <option value=""> Estado</option>
                                            <option value="Rechazado" class="text-capitalize">Rechazado</option>
                                            <option value="Pendiente" class="text-capitalize">Pendiente</option>
                                            <option value="Pagado" class="text-capitalize">Pagado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <table class="invoice-list-table table dataTable no-footer dtr-column"
                                id="facturasTable" role="grid" aria-describedby="DataTables_Table_0_info">

                                <!-- Cabezera de la tabla -->
                                <thead>
                                    <tr role="row">
                                        <th>
                                            #
                                        </th>
                                        <th>Alumno</th>
                                        <th>Total</th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <!-- Cabezera de la tabla -->
                            </table>
                        </div>
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="add-factura" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 mx-50 pb-5">
                {{!-- <form id="formFacturaInfo2">
                    <input type="text" name="testing" id="">
                    <button type="submit">su</button>
                </form> --}}
                <form class="FacturasForm" id="facturaForm">
                    <input type="text" name="id_a_escolar" class="d-none" id="id_a_escolar">

                    <div class="card-body py-0">
                        <div class="divider divider-primary">
                            <div class="divider-text">
                                <h4 class="card-title mb-0">Datos Personales</h4>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-6 col-lg-4">

                                <label class="form-label">Cédula Representante</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text cursor-pointer" id="buscaRepresentante"
                                        onclick="buscaRepresentante('representante')"><i
                                            data-feather="user"></i></span>
                                    <input type="number" id="cedulaRepresentante" placeholder="Cédula Representante"
                                        name="cedulaRepresentante" class="form-control" readonly>
                                    <!---->
                                </div>
                            </div>
                            <input type="text" name="id_representate" class="d-none" id="id_representate">
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Nombre del Representante</label>
                                <div class="input-group mb-2 col-sm-4">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="nombreRepresentante" placeholder="Nombre"
                                        name="nombreRepresentante" class="form-control" readonly>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <input type="text" name="id_alumno" class="d-none" id="id_alumno">
                                <label class="form-label">Cédula Estudiante</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text cursor-pointer" id="basic-addon-search1"
                                        onclick="buscaRepresentante('alumno')"><i data-feather="search"></i></span>
                                    <input type="number" id="cedulaEstudiante" placeholder="Cédula Estudiante"
                                        name="cedulaEstudiante" class="form-control" >
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Dirección:</label>
                                <div class="input-group mb-2 col-sm-4">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="direccionEstudiante" placeholder="Dirección"
                                        name="direccionEstudiante" class="form-control" readonly>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Teléfonos</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="telefonosEstudiante" placeholder="Telefonos"
                                        name="telefonosEstudiante" class="form-control" readonly>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Grado</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id=""><i data-feather="file-text"></i></span>
                                    <select name="gradoEstudiante" id="gradoEstudiante" class="form-control" readonly>
                                        <option value="1">1ero</option>
                                        <option value="2">2do</option>
                                        <option value="3">3ero</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="divider divider-primary">
                            <div class="divider-text">
                                <h4 class="card-title mb-0">Datos factura</h4>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Tipo</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id=""><i data-feather="file-text"></i></span>
                                    <select name="tipoFactura" id="tipoFactura" class="form-control">
                                        <option value="Factura">Factura</option>
                                        <option value="Nota Debito">Nota Debito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Concepto</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id=""><i data-feather="file-text"></i></span>
                                    <select name="concetoFactura" id="concetoFactura" class="form-control">
                                        <option value="Mensualidad">Mensualidad</option>
                                        <option value="Incripcion">Incripcion</option>
                                        <option value="Abono">Abono</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Mes a cancelar</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="mesCancelarFactura" placeholder="Mes a cancelar"
                                        name="mesCancelarFactura" class="form-control" >
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Número Factura</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="number" id="numeroFactura" name="numeroFactura" class="form-control"
                                        >
                                    <!---->
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Tipo de pago</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id=""><i data-feather="file-text"></i></span>
                                    <select name="tipoPagoFactura" id="tipoPagoFactura" class="form-control">
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Transferencia">Transferencia</option>
                                        <option value="Debito">Debito</option>
                                        <option value="Deposito">Deposito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Referencia:</label>
                                <div class="input-group mb-2 col-sm-4">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="referenciaFactura" placeholder="Referencia"
                                        name="referenciaFactura" class="form-control" >
                                    <!---->
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">

                            <div class="col-6 col-lg-4">
                                <label class="form-label">Banco:</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="BancoFactura" placeholder="Banco" name="BancoFactura"
                                        class="form-control" >
                                    <!---->
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Fecha transacción:</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="calendar"></i></span>
                                    <input type="text" id="fechaTransFactura"
                                        class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD"
                                        name="fechaTransFactura" >
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label for="" class="form-label">Observaciones</label>
                                <textarea class="form-control" name="observaciones" rows="1"
                                    id="observaciones"></textarea>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Monto $</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="montoDFactura" placeholder="Monto $" name="montoDFactura"
                                        class="form-control" >
                                    <!---->
                                </div>
                            </div>
                            <div class="col-6 col-lg-4">
                                <label class="form-label">Monto Bs</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon-search1"><i
                                            data-feather="user"></i></span>
                                    <input type="text" id="montoBFactura" placeholder="Monto Bs" name="montoBFactura"
                                        class="form-control" >
                                    <!---->
                                </div>
                            </div>

                        </div>

                        <div class="col-12 mt-50">
                            <button type="submit"
                                class="btn btn-primary me-1 waves-effect waves-float waves-light">Agregar</button>
                            <button data-bs-dismiss="modal" type="button" class="btn btn-outline-secondary waves-effect"
                                style="width: 101.77px;">Volver</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->