<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">
                <div class="auth-inner my-2">
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">

                            <a href="./" class="brand-logo">
                                <img src="../../app-assets/images/logo/logo1.png" class="round" alt="" width="320"
                                    height="auto">

                            </a>

                            <h4 class="card-title mb-1">Welcome! 👋</h4>
                            <p class="card-text mb-2">Please sign-in to your account</p>
                            {{#if messages}}
                            {{#showAlerts messages}}
                            {{/showAlerts}}
                            {{/if}}
                            <form class="auth-login-form mt-2" action="/login" method="post">
                                <div class="mb-1">
                                    <label for="login-email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                        placeholder="john@example.com" aria-describedby="login-email" tabindex="1"
                                        autofocus required />
                                        
                                </div>

                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="login-password">Password</label>
                                        <a href="/forgot-pass">
                                            <small>Forgot Password?</small>
                                        </a>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge" id="password"
                                            name="password" tabindex="2"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="login-password" required />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                <label class="form-label">Año Escolar</label>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id=""><i data-feather="file-text"></i></span>
                                    <select name="a_escolar" id="a_escolar" class="form-control">
                                        <option value="1">2022-2023</option>
                                        <option value="2">2023-2024</option>
                                    </select>
                                </div>
                            </div>

                                <button class="btn btn-primary w-100" tabindex="4">Sign in</button>
                            </form>

                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->