<!-- BEGIN: Content -->
<div class="app-content content ecommerce-application">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row"></div>

        <div class="content-body">
            <div class="row m-0 align-items-end">
                <div class="col-md-6 col-xl-4 mb-1 mb-xl-0">
                    <label for="" class="form-label">Buscar por código</label>
                    <input type="text" class="form-control" placeholder="Buscar...">
                </div>
                <div class="col-md-6 col-xl-4 mb-1 mb-xl-0">
                    <label for="" class="form-label">Buscar por nombre</label>
                    <input type="text" class="form-control" placeholder="Buscar...">
                </div>
                <div class="col-lg-6 col-xl-4 mb-1 mb-md-0">
                    <button class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#addProduct">
                        <i class="feather" data-feather="plus"></i>
                        Agregar Producto
                    </button>
                    <button type="button" id="btnGrid" class="btn btn-outline-primary waves-effect d-none">
                        <i data-feather='grid' class="feather"></i>
                    </button>
                    <button type="button" id="btnList" class="btn btn-outline-primary waves-effect">
                        <i data-feather='list' class="feather"></i>
                    </button>
                </div>
                
                <div class="col-12 mb-1 mb-lg-2"></div>

                <div class="col-12">
                    <section id="gridView" class="grid-view wishlist-items">
                        <div class="card ecommerce-card">
                            <div class="item-img text-center">
                            <a href="#">
                                <img src="https://suplementosags.com/wp-content/uploads/2020/03/Platinum-Creatine.png" class="img-fluid" alt="img-placeholder">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="item-name d-flex align-items-center justify-content-between m-0">
                                    <a href="#">123</a>
                                    <a href="#">10 Unid</a>
                                </div>
                                <div class="item-name my-50">
                                    <a href="#">Creatine</a>
                                </div>
                                <div class="item-cost">
                                    <h6 class="item-price">$19.99</h6>
                                </div>
                                <p class="card-text item-description">
                                    On Retina display.
                                </p>
                            </div>
                            <div class="d-flex">
                                <div class="btn-group w-100">
                                    <button class="btn btn-block btn-primary" data-bs-toggle="modal" data-bs-target="#editProduct"><i class="feather" data-feather="edit-3"></i></button>
                                    <button class="btn btn-block btn-primary"><i class="feather" data-feather="trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="card ecommerce-card">
                            <div class="item-img text-center">
                            <a href="#">
                                <img src="https://guuao.com/cdn-cgi/image/f=auto,fit=scale-down,width=1000,height=1000,quality=90/https://guuao.com/image/catalog/A-Prooductos%203.0/Marketplace/FRONTINO/FRANCO-2.png" class="img-fluid" alt="img-placeholder">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="item-name d-flex align-items-center justify-content-between m-0">
                                    <a href="#">123</a>
                                    <a href="#">10 Unid</a>
                                </div>
                                <div class="item-name my-50">
                                    <a href="#">Camiseta</a>
                                </div>
                                <div class="item-cost">
                                    <h6 class="item-price">$19.99</h6>
                                </div>
                                    <p class="card-text item-description">
                                        On Retina display.
                                    </p>
                                </div>
                            <div class="d-flex">
                                <div class="btn-group w-100">
                                    <button class="btn btn-block w-50 btn-primary" data-bs-toggle="modal" data-bs-target="#editProduct"><i class="feather" data-feather="edit-3"></i></button>
                                    <button class="btn btn-block w-50 btn-primary"><i class="feather" data-feather="trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="card ecommerce-card">
                            <div class="item-img text-center">
                            <a href="#">
                                <img src="https://cdn.shopify.com/s/files/1/0608/1613/0263/products/1220966-102_4_533x.png?v=1637405729" class="img-fluid" alt="img-placeholder">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="item-name d-flex align-items-center justify-content-between m-0">
                                    <a href="#">123</a>
                                    <a href="#">10 Unid</a>
                                </div>
                                <div class="item-name my-50">
                                    <a href="#">Zapatos</a>
                                </div>
                                <div class="item-cost">
                                    <h6 class="item-price">$19.99</h6>
                                </div>
                                <p class="card-text item-description">
                                    On Retina display.
                                </p>
                            </div>
                            <div class="d-flex">
                                <div class="btn-group w-100">
                                    <button class="btn btn-block w-50 btn-primary" data-bs-toggle="modal" data-bs-target="#editProduct"><i class="feather" data-feather="edit-3"></i></button>
                                    <button class="btn btn-block w-50 btn-primary"><i class="feather" data-feather="trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="card ecommerce-card">
                            <div class="item-img text-center">
                            <a href="#">
                                <img src="https://ramptshirts.com/assets/images/samples/standard-hoodies/navy.png" class="img-fluid" alt="img-placeholder">
                            </a>
                            </div>
                            <div class="card-body">
                                <div class="item-name d-flex align-items-center justify-content-between m-0">
                                    <a href="#">123</a>
                                    <a href="#">10 Unid</a>
                                </div>
                                <div class="item-name my-50">
                                    <a href="#">Pullover</a>
                                </div>
                                <div class="item-cost">
                                    <h6 class="item-price">$19.99</h6>
                                </div>
                                <p class="card-text item-description">
                                    On Retina display.
                                </p>
                            </div>
                            <div class="d-flex">
                                <div class="btn-group w-100">
                                    <button class="btn btn-block w-50 btn-primary" data-bs-toggle="modal" data-bs-target="#editProduct"><i class="feather" data-feather="edit-3"></i></button>
                                    <button class="btn btn-block w-50 btn-primary"><i class="feather" data-feather="trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="listView" class="list-view d-none">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Listado de Productos</h4>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Marca</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123</td>
                                            <td>Creatine</td>
                                            <td>Nike</td>
                                            <td>10 Unid</td>
                                            <td>$19.99</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Detalles">
                                                        <i class="feather text-primary" data-feather="eye"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Editar">
                                                        <span data-bs-target="#editProduct" data-bs-toggle="modal">
                                                            <i class="feather text-primary ms-1" data-feather="edit-3"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Eliminar">
                                                        <i class="feather text-primary ms-1" data-feather="trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>Camiseta</td>
                                            <td>Polo</td>
                                            <td>10 Unid</td>
                                            <td>$19.99</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Detalles">
                                                        <i class="feather text-primary" data-feather="eye"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Editar">
                                                        <span data-bs-target="#editProduct" data-bs-toggle="modal">
                                                            <i class="feather text-primary ms-1" data-feather="edit-3"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Eliminar">
                                                        <i class="feather text-primary ms-1" data-feather="trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>Zapatos</td>
                                            <td>Addidas</td>
                                            <td>10 Unid</td>
                                            <td>$19.99</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Detalles">
                                                        <i class="feather text-primary" data-feather="eye"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Editar">
                                                        <span data-bs-target="#editProduct" data-bs-toggle="modal">
                                                            <i class="feather text-primary ms-1" data-feather="edit-3"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Eliminar">
                                                        <i class="feather text-primary ms-1" data-feather="trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td>Pullover</td>
                                            <td>Nike</td>
                                            <td>10 Unid</td>
                                            <td>$19.99</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Detalles">
                                                        <i class="feather text-primary" data-feather="eye"></i>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Editar">
                                                        <span data-bs-target="#editProduct" data-bs-toggle="modal">
                                                            <i class="feather text-primary ms-1" data-feather="edit-3"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Eliminar">
                                                        <i class="feather text-primary ms-1" data-feather="trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="modal fade" id="addProduct" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-4">
                            <h1 class="text-center mb-1" id="">Agregar Producto</h1>

                            <div class="row my-2">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Impuestos</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Alerta Cantidad Mínima</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Descripción</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Costo</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Descuento</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Precio Sin Impuestos</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Utilidad</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Categoría</label>
                                        <select name="" id="" class="select2">
                                            <option value="">Nuevo</option>
                                            <option value="">Segunda</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Código</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Proveedor</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Estado</label>
                                        <select name="" id="" class="select2">
                                            <option value="">Activo</option>
                                            <option value="">Pendiente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Cantidad Disponible</label>
                                        <input type="number" name="" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Ubicación</label>
                                        <input type="text" name="" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Unidad</label>
                                        <select name="" id="" class="select2">
                                            <option value="">Unidad</option>
                                            <option value="">Servicio Profesional</option>
                                            <option value="">Metro</option>
                                            <option value="">Kilogramo</option>
                                            <option value="">Litro</option>
                                            <option value="">Gramo</option>
                                            <option value="">Centímetro</option>
                                            <option value="">Onza</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Marca</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Modelo</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Calcular Precio Sin IVA</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Código Cabys</label>
                                        <input type="text" class="form-control" placeholder="Buscar">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="d-flex mt-1">
                                        <a href="#" class="btn btn-primary me-1">
                                            Guardar
                                        </a>
                                        <a href="#" class="btn btn-outline-secondary btn-wishlist">
                                            Cancelar
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editProduct" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-transparent">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-sm-5 mx-50 pb-4">
                            <h1 class="text-center mb-1" id="">Editar Producto</h1>

                            <div class="row my-2">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Impuestos</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Alerta Cantidad Mínima</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Descripción</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Costo</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Descuento</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Precio Sin Impuestos</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Utilidad</label>
                                        <input type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Categoría</label>
                                        <select name="" id="" class="select2">
                                            <option value="">Nuevo</option>
                                            <option value="">Segunda</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Código</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Proveedor</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Estado</label>
                                        <select name="" id="" class="select2">
                                            <option value="">Activo</option>
                                            <option value="">Pendiente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Cantidad Disponible</label>
                                        <input type="number" name="" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Ubicación</label>
                                        <input type="text" name="" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Unidad</label>
                                        <select name="" id="" class="select2">
                                            <option value="">Unidad</option>
                                            <option value="">Servicio Profesional</option>
                                            <option value="">Metro</option>
                                            <option value="">Kilogramo</option>
                                            <option value="">Litro</option>
                                            <option value="">Gramo</option>
                                            <option value="">Centímetro</option>
                                            <option value="">Onza</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Marca</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Modelo</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Calcular Precio Sin IVA</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="mb-1">
                                        <label for="" class="form-label">Código Cabys</label>
                                        <input type="text" class="form-control" placeholder="Buscar">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="d-flex mt-1">
                                        <a href="#" class="btn btn-primary me-1">
                                            Guardar
                                        </a>
                                        <a href="#" class="btn btn-outline-secondary btn-wishlist">
                                            Cancelar
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>  
<!-- END: Content-->

<script>
    let btnGrid = document.getElementById('btnGrid'),
    gridView = document.getElementById('gridView'),
    btnList = document.getElementById('btnList'),
    listView = document.getElementById('listView');

    btnGrid.addEventListener('click', e => {
        changeView();
    });

    btnList.addEventListener('click', e => {
        changeView();
    });

    function changeView () {
        btnGrid.classList.toggle('d-none')
        btnList.classList.toggle('d-none')
        gridView.classList.toggle('d-none')
        listView.classList.toggle('d-none')
    }
</script>